@font-face {
    font-family: 'Anastasia';
    src: url("Anastasia.ttf");
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.Anastasia {
    font-family: 'Anastasia';
}

.main_box {
    max-height: 560px;
    margin: 20px;
    background: darkred;
    display: flex;
    overflow-x: scroll;
}

.outer_box {
    margin: 15px 0 15px 15px;
    max-height: 100%;
    min-width: 300px;
    background: burlywood;
    overflow-y: scroll;
}

.outer_box:last-child {
    margin-right: 15px;
}

.inner_box_small {
    margin: 15px;
    padding: 5px;
    height: 50px;
    background: grey;
    overflow-y: scroll;
    text-align: center;

}

.inner_box_big {
    margin: 15px;
    height: 150px;
    padding: 5px;
    background: coral;
    overflow-y: scroll;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}